<section>
  <h2>Appointments</h2>
  <table class="w-100 mt-5">
    <thead class="text-center text-white p-3">
      <tr>
        <td>Date</td>
        <td>Time</td>
        <td>Doctor</td>
        <td>Purpose</td>
        <td>Status</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      @for(app of appointments; track app) {
      <tr>
        <td class="text-center">{{ app.appointmentDate }}</td>
        <td class="text-center">{{ app.appointmentTime }}</td>
        <td class="text-center">{{ app.doctorName }}</td>
        <td class="text-center">{{ app.purpose }}</td>
        <td class="text-center">{{ app.status }}</td>
        <td class="text-right px-4" style="width: 230px">
          @if(app.status != 'pending') {
          <a [routerLink]="['/meeting', app.meetingUrl]">
            <button class="success-btn cursor-pointer">Join Meeting</button></a
          >
          }
          <button class="primary-btn ml-3 cursor-pointer">Cancel</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
