<nav>
  <ul class="d-flex p-0 py-3 justify-content-end align-items-center">
    <li>
      <a [routerLink]="['']" class="active-link">Search Engine</a>
    </li>

    <!-- link based on the type of user -->
    @if(currentUser?.role == 'patient' || currentUser == null) {
    <li>
      <a [routerLink]="['consult-doctor']">Consult a doctor</a>
    </li>
    } @else if(currentUser && currentUser.role == 'admin') {
    <li>
      <a [routerLink]="['admin-doctors']">Doctors</a>
    </li>
    <li>
      <a [routerLink]="['admin-patients']">Patients</a>
    </li>
    }

    <!--  -->
    @if(currentUser !== null) {
    <li>
      <a [routerLink]="['appointment']">Appointments</a>
    </li>

    }

    <li>
      <a href="#">Records</a>
    </li>

    <li>
      @if(currentUser == null) {
      <a [routerLink]="['signin']">
        <small>
          <button class="primary-btn text-sm">Sign in</button>
        </small>
      </a>
      } @else {
      <section class="profile-wrapper">
        <div
          [style.background-image]="'url(' + currentUser.photoURL + ')'"
          class="profile rounded-circle"
        ></div>
        <div class="logout" (click)="onLogout()">Log out</div>
      </section>

      <!-- <button (click)="onLogout()">Logout</button> -->
      }
    </li>
  </ul>
</nav>
