<nav class="d-flex justify-content-between align-items-center px-lg">
  <div class="logo">
    <a [routerLink]="['']">
      <img src="assets/images/logo_.png" alt="" width="200" />
    </a>
  </div>
  <ul class="d-flex p-0 py-3 justify-content-end align-items-center">
    <li>
      <a [routerLink]="['search-engine']" class="active-link">Search Engine</a>
    </li>

    <!-- link based on the type of user -->
    @if(currentUser?.role == 'patient' || currentUser == null) {
    <li>
      <a [routerLink]="['consult-doctor']">Consult a doctor</a>
    </li>
    } @else if(currentUser && currentUser.role == 'admin') {
    <li>
      <a [routerLink]="['admin-doctors']">Doctors</a>
    </li>
    <li>
      <a [routerLink]="['admin-patients']">Patients</a>
    </li>
    }

    <!-- appointments -->
    @if(currentUser !== null && currentUser.role == 'patient' ||
    currentUser?.role == 'admin') {
    <li>
      <a [routerLink]="['appointment']">Appointments</a>
    </li>
    } @else if(currentUser?.role == 'doctor') {
    <li>
      <a [routerLink]="['doctor-appointment']">Appointments</a>
    </li>
    }

    <li>
      <a href="#">Records</a>
    </li>

    <li>
      @if(currentUser == null) {
      <a [routerLink]="['signin']">
        <small>
          <button class="primary-btn text-sm">Sign in</button>
        </small>
      </a>
      } @else {
      <section class="profile-wrapper">
        <img
          [src]="
            currentUser.photoURL ||
            'https://img.freepik.com/premium-photo/young-black-man-smiling-very-happily-profile-photo-with-orange-colors-created-with-ai_116400-41.jpg'
          "
          alt=""
          width="50"
          height="50"
          style="object-fit: cover"
          class="profile rounded-circle"
        />
        <div class="logout" (click)="onLogout()">Log out</div>
      </section>

      <!-- <button (click)="onLogout()">Logout</button> -->
      }
    </li>
  </ul>
</nav>
