<section>
  <h2 class="mb-5 mt-4">Available Doctors</h2>
  @for(doctor of doctors; track doctor) {
  <div class="d-flex mb-5 doctor-list-item py-4">
    <section class="flex-1 d-flex">
      <div
        [style.background-image]="'url(' + doctor.profileImgUrl + ')'"
        class="img rounded-circle"
      ></div>
      <div class="details ml-4">
        <h4>{{ doctor.name }}</h4>
        <div class="mt-3">
          <b>Speciality: </b>
          <span>{{ doctor.speciality }}</span>
        </div>
        <div class="py-1">
          <b>Email: </b>
          <span>
            {{ doctor.email }}
          </span>
        </div>
        <div class="ratings">
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i><i class="fi fi-ss-star"></i
          ><i class="fi fi-ss-star"></i>
        </div>
      </div>
    </section>
    <section class="buttons">
      <button class="primary-btn book" (click)="goToBooking()">
        Book an appointment
      </button>
    </section>
  </div>
  }
</section>
