<div class="mb-5">
  <h2 class="mt-5">Create an account</h2>
  <p class="text-secondary pt-2">Sign up now and access more features</p>
  <form class="w-50 mt-5">
    <div>
      <label for="name">Full Name</label>
      <input type="text" placeholder="Type your full name" />
    </div>
    <div>
      <label for="name">Birth Date</label>
      <input type="date" placeholder="Type your birth" />
    </div>
    <div>
      <label for="name">Contact Number</label>
      <input type="tel" placeholder="Type your contact number" />
    </div>
    <div>
      <label for="name">Address</label>
      <input type="text" placeholder="Type your address" />
    </div>
    <div>
      <label for="name">Email Address</label>
      <input type="email" placeholder="Type your email" />
    </div>
    <div>
      <label for="name">Password</label>
      <input type="password" placeholder="Type password" />
    </div>
    <div>
      <button type="submit" class="primary-btn w-100">Sign up</button>
    </div>
  </form>
</div>
