<section class="hero d-flex px-lg">
  <img src="assets/images/hero.png" alt="" class="hero-image" />
  <div class="hero-text ml-5">
    <h1 class="h1">
      World's Best
      <span class="primary-text">Trusted Health Care Place</span>
    </h1>
    <p class="lead my-4">
      World's most trusted healthcare destination, providing top-notch medical
      services and compassionate care for all patients.
    </p>
    <button class="primary-btn text-lead">Book a consultation</button>
  </div>
</section>

<!-- About US -->
<section class="py-5 d-flex about-us">
  <div>
    <header>
      <h5 class="primary-text">About us</h5>
      <h1>Leading the way in the Pharmacy and Healthcare</h1>
      <p class="text-secondary py-2">
        At Guardian Angel Hospital, we blend compassionare care with medical
        excellence, ensuring every patient recieves the highest quality
        treatment in a trusted, nurturing environment. Experience healthcare
        redefined with us.
      </p>
    </header>
    <div class="boxes">
      <div class="box-wrapper">
        <div class="box text-center bg-primary">
          <span class="d-block">10,000+</span>
          <p class="d-block">Happy Patients</p>
        </div>
        <div class="box text-center">
          <span class="d-block">100+</span>
          <p class="d-block">Hospital Rooms</p>
        </div>
      </div>
      <div class="box-wrapper mt-3">
        <div class="box text-center">
          <span class="d-block">200+</span>
          <p class="d-block">Company connected</p>
        </div>
        <div class="box text-center">
          <span class="d-block">50+</span>
          <p class="d-block">Country Wide</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <video class="mx-5 d-block" autoplay="autoplay" muted loop #videoPlayer>
      <source src="assets/videos/v.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</section>

<!-- Our Services -->
<section class="our-services">
  <header>
    <h5 class="primary-text mb-4">Our Services</h5>
    <h1>Your Complete Medical Guide</h1>
    <p>
      Your comprehensive Handbook for Medical Services, covering everything for
      routine check-ups to emergency care for optimal health.
    </p>
  </header>
  <div class="services-boxes d-flex">
    <!-- box 1 -->
    <div class="box">
      <div class="box-icon">
        <i class="fi fi-rr-scalpel-path"></i>
      </div>
      <div class="box-body">
        <h3>Surgical Services</h3>
        <p>
          Skilled surgeries provide precise treatment, ensuring effective care
          and optimal recovery for patients in need of medical intervention.
        </p>
        <div class="next-btn">
          <i class="fi fi-rr-arrow-right"></i>
        </div>
      </div>
    </div>

    <!-- box 2 -->
    <div class="box">
      <div class="box-icon">
        <i class="fi fi-rr-lightbulb-on"></i>
      </div>
      <div class="box-body">
        <h3>Emergency Care</h3>
        <p>
          Immediate expert care for sudden illnesses or injuries ensures timely
          treatment, promoting swift recovery for patients in need.
        </p>
        <div class="next-btn">
          <i class="fi fi-rr-arrow-right"></i>
        </div>
      </div>
    </div>

    <!-- box 3 -->
    <div class="box">
      <div class="box-icon">
        <i class="fi fi-rr-home-heart"></i>
      </div>
      <div class="box-body">
        <h3>Home Health Caring</h3>
        <p>
          Customized home health care offers ease and enhances wellness,
          providing personalized services for patients in need.
        </p>
        <div class="next-btn">
          <i class="fi fi-rr-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>
  <button class="primary-btn d-inline-block mt-5 d-flex mx-auto">
    View all Services
    <span
      ><i class="fi fi-rr-arrow-right d-block ml-2" style="margin-top: 3px"></i
    ></span>
  </button>
</section>

<!-- Reason choosing US -->
<section class="py-5 d-flex choosing-us">
  <div>
    <header>
      <h5 class="primary-text">Why choose Us</h5>
      <h1>Reasons to Choose Us for Your Medical Consult</h1>
      <p class="text-secondary py-2">
        Your Comprehensive Handbook for Medical Services, covering everything
        from routine check-ups to emergency care for optimal health.
      </p>
      <button class="primary-btn d-flex">
        Learn More
        <span
          ><i
            class="fi fi-rr-arrow-right d-block ml-2"
            style="margin-top: 3px"
          ></i
        ></span>
      </button>
    </header>
  </div>
  <div>
    <div class="boxes">
      <div class="box-wrapper">
        <div class="box text-center">
          <h1><i class="fi fi-ss-time-fast"></i></h1>
          <b class="d-block">Quick Response</b>
          <p class="d-block">
            Quick Response: 24/7 support and fast appointment scheduling for
            you.
          </p>
        </div>
        <div class="box text-center">
          <h1><i class="fi fi-ss-shield-check"></i></h1>
          <b class="d-block">Trusted Reputation</b>
          <p class="d-block">
            Consistently providing exceptional, reliable care you can trust.
          </p>
        </div>
      </div>
      <div class="box-wrapper mt-3">
        <div class="box text-center">
          <h1><i class="fi fi-ss-user-key"></i></h1>
          <b class="d-block">Convenient Access</b>
          <p class="d-block">
            Easily reachable with flexible hours and online services.
          </p>
        </div>
        <div class="box text-center">
          <h1><i class="fi fi-ss-hand-holding-medical"></i></h1>
          <b class="d-block">Compassionate Care</b>
          <p class="d-block">
            Personalized, empathetic treatment focused on your well-being.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
