<section class="hero d-flex px-lg">
  <img src="assets/images/hero.png" alt="" class="hero-image" />
  <div class="hero-text ml-5">
    <h1 class="h1">
      World's Best
      <span class="primary-text">Trusted Health Care Place</span>
    </h1>
    <p class="lead my-4">
      World's most trusted healthcare destination, providing top-notch medical
      services and compassionate care for all patients.
    </p>
    <button class="primary-btn text-lead">Book a consultation</button>
  </div>
</section>
<section class="px-5 py-5 d-flex about-us">
  <div>
    <header>
      <h5 class="primary-text">About us</h5>
      <h1>Leading the way in the Pharmacy and Healthcare</h1>
      <p class="text-secondary py-2">
        At Guardian Angel Hospital, we blend compassionare care with medical
        excellence, ensuring every patient recieves the highest quality
        treatment in a trusted, nurturing environment. Experience healthcare
        redefined with us.
      </p>
    </header>
    <div class="boxes">
      <div class="box-wrapper">
        <div class="box text-center bg-primary">
          <span class="d-block">10,000+</span>
          <p class="d-block">Happy Patients</p>
        </div>
        <div class="box text-center">
          <span class="d-block">100+</span>
          <p class="d-block">Hospital Rooms</p>
        </div>
      </div>
      <div class="box-wrapper mt-3">
        <div class="box text-center">
          <span class="d-block">200+</span>
          <p class="d-block">Company connected</p>
        </div>
        <div class="box text-center">
          <span class="d-block">50+</span>
          <p class="d-block">Country Wide</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <video autoplay muted loop>
      <source src="your-video-file.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</section>
