/* hero Section */

.hero {
  height: 90vh;
  background: #e8f6fd;
  margin: 0 2em;
  border-radius: 2em;
}
.hero h1 {
  font-weight: 600;
  font-size: 4.5em;
}

.hero-image {
  width: 50%;
  align-self: flex-end;
  object-fit: contain;
}

.hero-text {
  width: 100%;
  margin-top: 6rem;
}

/* about us */
.about-us h1 {
  font-weight: 700;
}

.about-us > div {
  width: 50%;
}

.about-us p {
  font-weight: 300;
}

.about-us .box-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.about-us .box {
  /* border: 1px solid blue; */
  padding: 1.1em 2em;
  font-size: 1.2em;
  flex: 1;
  border-radius: 2em;
  background-color: #eee;
}

.about-us .box span {
  font-weight: 600;
}
