/* hero Section */

.hero {
  height: 90vh;
  background: #e8f6fd;
  margin: 0 2em;
  border-radius: 2em;
}
.hero h1 {
  font-weight: 600;
  font-size: 4.5em;
}

.hero-image {
  width: 50%;
  align-self: flex-end;
  object-fit: contain;
}

.hero-text {
  width: 100%;
  margin-top: 6rem;
}

/* about us */
.about-us {
  padding: 2.3em 5em;
}

.about-us h1 {
  font-weight: 700;
}

.about-us > div {
  width: 50%;
}

.about-us p {
  font-weight: 300;
}

.about-us .box-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.about-us .box {
  /* border: 1px solid blue; */
  padding: 1.1em 2em;
  font-size: 1.2em;
  flex: 1;
  border-radius: 2em;
  background-color: #eee;
}

.about-us .box span {
  font-weight: 600;
}

.about-us video {
  width: 90%;
  align-self: center;
  margin-top: 13%;
  border-radius: 1.2em;
}

/* Our services */
.our-services {
  padding: 4em 5em;
  margin: 2em;
  background-color: #e8f6fd;
  border-radius: 2em;
}

.our-services header {
  text-align: center;
}

.our-services h1 {
  font-weight: 700;
}

.our-services p {
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}

.services-boxes {
  margin-top: 2em;
  gap: 2em;
}

.services-boxes .box {
  border-radius: 2em;
  background-color: #fff;
  padding: 2em;
  width: 500px;
}

.services-boxes .box-icon {
  margin-bottom: 1.4em;
  width: 60px;
  height: 60px;
  border: 1px solid #cecbcb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.services-boxes .box-icon i {
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 2em;
  margin-top: 5px;
}

.services-boxes .next-btn {
  text-align: right;
  margin-top: 1em;
}

.services-boxes p {
  font-size: 15px;
}

.services-boxes > div {
  transition: 0.3s;
  cursor: pointer;
}

.services-boxes > div:hover {
  transform: scale(1.1);
  z-index: 10;
}

/* Default state for the middle div */
.services-boxes > div:nth-child(2) {
  background-color: var(--primary-color);
  color: #fff;
}

.services-boxes > div:nth-child(2) .next-btn i {
  color: #fff;
}

.services-boxes > div:nth-child(2) i {
  color: var(--primary-color);
}

.services-boxes > div:nth-child(2) .box-icon {
  border-color: #fff;
  background-color: #fff;
}

/* Hover effect for each div */
.services-boxes > div:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.services-boxes > div:hover .box-icon {
  border-color: #fff;
  background-color: #fff;
}

.services-boxes > div:hover i {
  color: var(--primary-color);
}

.services-boxes > div:hover .next-btn i {
  color: #fff;
}

/* choosing us */
.choosing-us {
  padding: 0 5em;
}

.choosing-us > div {
  width: 50%;
}

.choosing-us > div:first-child {
  display: flex;
}

.choosing-us .box-wrapper {
  display: flex;
  gap: 2em;
}

.choosing-us .boxes {
  padding: 12px;
  margin-left: 2em;
}

.choosing-us .box-wrapper > div {
  flex: 1;
  border-radius: 12px;
  /* background: ; */
  padding-bottom: 15px;
}

.choosing-us .box-wrapper > div p {
  font-weight: 300;
  font-size: 13px;
  margin-top: 10px;
  color: #666;
}

.choosing-us .box-wrapper i {
  color: var(--primary-color);
}
