.profile-img {
    width: 100px;
    height: 100px;
  
    background-position: center center;
    background-size: cover;
  }
  
  .buttons button {
    font-size: 14px;
  }
  
  .appointment-list-item {
    border-bottom: 1px solid #eee;
  }
  