<section>
  <h2>List of Patients</h2>
  <section class="d-flex align-items-center mt-5">
    <!-- Search -->
    <div
      class="d-flex cursor-pointer align-items-center search-wrapper"
      style="width: 400px"
    >
      <input
        type="text"
        placeholder="Search patient here...."
        class="border-0 flex-1"
      />
      <i class="fi fi-rr-search d-block mt-1 search-icon d-block px-4"></i>
    </div>
  </section>

  <section class="mt-5">
    @for(patient of patients; track patient) {
    <div class="d-flex mb-3 doctor-list-item py-4">
      <section class="flex-1 d-flex">
        <div
          [style.background-image]="'url(' + patient.profileImg + ')'"
          class="img rounded-circle"
        ></div>
        <div class="details ml-4">
          <h4>{{ patient.patientName }}</h4>
          <div class="mt-3">
            <b>Doctor Name: </b>
            <span>{{ patient.doctorName }}</span>
          </div>
          <div class="py-1">
            <b>Email: </b>
            <span>
              {{ patient.email }}
            </span>
          </div>
          <div class="">
            <b>Contact: </b>
            <span>
              {{ patient.contact_number }}
            </span>
          </div>
        </div>
      </section>
      <section class="buttons text-right">
        <button class="primary-btn mx-2">
          <i class="fi fi-rr-pencil"></i>
        </button>
        <button class="danger-btn"><i class="fi fi-rr-trash"></i></button>
      </section>
    </div>
    }
  </section>
</section>
